body
	{width:554px;
	height:415px;}
.TB
	{mso-special-format:nobullet\2022;}
.T
	{text-align:left;
	font-family:"Franklin Gothic Medium";
	mso-ascii-font-family:"Franklin Gothic Medium";
	mso-hansi-font-family:"Franklin Gothic Medium";
	color:#4E3B30;
	mso-color-index:3;
	font-size:180%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.BB
	{mso-special-format:bullet\F0D2;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.B
	{text-align:left;
	font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	font-size:160%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B1B
	{mso-special-format:bullet\F0C9;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.B1
	{text-align:left;
	font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	font-size:140%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B2B
	{mso-special-format:bullet\F0D0;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.B2
	{text-align:left;
	font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	font-size:120%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B3B
	{mso-special-format:bullet\F0D7;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.B3
	{text-align:left;
	font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	font-size:100%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B4B
	{mso-special-format:bullet\F0CE;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:60%;}
.B4
	{text-align:left;
	font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	font-size:90%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.NB
	{mso-special-format:nobullet\2022;}
.N
	{text-align:left;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	color:black;
	mso-color-index:1;
	font-size:60%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N1B
	{mso-special-format:nobullet\2022;}
.N1
	{text-align:left;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	color:black;
	mso-color-index:1;
	font-size:60%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N2B
	{mso-special-format:nobullet\2022;}
.N2
	{text-align:left;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	color:black;
	mso-color-index:1;
	font-size:60%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N3B
	{mso-special-format:nobullet\2022;}
.N3
	{text-align:left;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	color:black;
	mso-color-index:1;
	font-size:60%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N4N
	{mso-special-format:nobullet\2022;}
.N4
	{text-align:left;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	color:black;
	mso-color-index:1;
	font-size:60%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.OB
	{mso-special-format:nobullet\2022;}
.O
	{text-align:left;
	font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:black;
	mso-color-index:1;
	font-size:90%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O1
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O2
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O3
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O4
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CBB
	{mso-special-format:nobullet\F0D2;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.CB
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB1B
	{mso-special-format:nobullet\F0C9;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.CB1
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB2B
	{mso-special-format:nobullet\F0D0;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.CB2
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB3B
	{mso-special-format:nobullet\F0D7;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.CB3
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB4B
	{mso-special-format:nobullet\F0CE;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:60%;}
.CB4
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	font-size:90%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CT
	{text-align:left;
	font-family:"Franklin Gothic Medium";
	mso-ascii-font-family:"Franklin Gothic Medium";
	mso-hansi-font-family:"Franklin Gothic Medium";
	font-size:180%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HBB
	{mso-special-format:bullet\F0D2;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.HB
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB1B
	{mso-special-format:bullet\F0C9;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.HB1
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB2B
	{mso-special-format:bullet\F0D0;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.HB2
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB3B
	{mso-special-format:bullet\F0D7;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.HB3
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB4B
	{mso-special-format:bullet\F0CE;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:60%;}
.HB4
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	font-size:80%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QBB
	{mso-special-format:bullet\F0D2;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.QB
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB1B
	{mso-special-format:bullet\F0C9;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.QB1
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB2B
	{mso-special-format:bullet\F0D0;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.QB2
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB3B
	{mso-special-format:bullet\F0D7;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:70%;}
.QB3
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB4B
	{mso-special-format:bullet\F0CE;
	color:#F0A22E;
	mso-color-index:4;
	font-family:"Wingdings 2";
	font-size:60%;}
.QB4
	{font-family:"Franklin Gothic Book";
	mso-ascii-font-family:"Franklin Gothic Book";
	mso-hansi-font-family:"Franklin Gothic Book";
	color:#4E3B30;
	mso-color-index:3;
	font-size:70%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet\2022;}
.default
	{text-align:left;
	font-family:ו;
	mso-ascii-font-family:Arial;
	mso-fareast-font-family:ו;
	mso-hansi-font-family:Arial;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:black;
	mso-color-index:1;
	font-size:90%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:EN-US;}
a:link
	{color:#AD1F1F !important;}
a:active
	{color:#A5644E !important;}
a:visited
	{color:#FFC42F !important;}
